# 模型权重
*.pth
*.pt
*.ckpt
*.onnx
*.tar
*.gz
*.pth
*.zip

# 数据集
/data
/rosbag2
/datasets/
**/training/
**/testing/

# rosbag
*.db3
rosbag2_*/


# 输出与日志
output/
outputs/
logs/
install/


# Python
__pycache__/
*.pyc


