################################
# 1. Common
################################
.DS_Store
__pycache__/
*.pyc
*.pyo
*.log

################################
# 2. IDE / Editor
################################
.vscode/
.idea/
*.swp

################################
# 3. Python / Deep Learning
################################
*.pth
*.pt
*.ckpt
*.onnx
*.engine
*.trt

################################
# 4. Dataset & Training Artifacts
################################
**/data/
**/datasets/
**/rosbag2/
**/training/
**/testing/
*.db3
rosbag2_*/

################################
# 5. Training Output / Logs
################################
output/
outputs/
logs/
work-dir/
vis_data/
last_checkpoint

################################
# 6. ROS2
################################
build/
install/
log/

################################
# 7. C++ / CUDA build artifacts
################################
*.so
*.a
*.o
*.out
cmake-build-*/

################################
# 8. Docker / Large Archives
################################
*.tar
*.gz
*.zip

################################
# 9. Temporary
################################
tmp/
temp/

################################
# 9. MODELS
################################
src/multispectral-object-detection-main-prune
src/PSAS_ISTD-prune
src/carla_api