<launch>

    <!-- <param name="/use_sim_time" value="false"/> -->

    <!-- set of the arguments -->

    <!-- keyboard control -->
    <!-- <include file="$(find keyboard_ctrl)/launch/keyboard.launch" /> -->

    <!-- rviz -->
    <!-- <node  name="show_pcd"  pkg="rviz"  type="rviz"  args="-d $(find pcd_show)/launch/pcd_show.rviz" output="screen"></node> -->

    <!-- data directory -->
    <!-- <arg name="data_path" default="/media/zxw/数据采集5/感知测试_20230531/car/2023-05-31-16-42-52"/>  -->
    <arg name="data_path" default="/home/zxw/GPAL_4D_Radar/PCL_Host_Computer_SW/4DIR_ROSx86_SHOW_0.0.1/data/pcd"/> 
    <!-- <arg name="data_path" default="/home/zxw/GPAL_4D_Radar/PCL_Host_Computer_SW/4DIR_ROSx86_SHOW_0.0.1/data/pcd_normal"/>  -->
    <arg name="frq" default="13.15"/> 
    <arg name="pcd_type" default="0"/> 

    <!-- Receive Data Begin, please don't change next data!!! -->
    <node pkg = "pcd_show" type = "pcd_show" name = "pcd_show_1" output = "screen">
        <param name="data_path" type="string" value="$(arg data_path)"/>
        <param name="frq" type="double" value="$(arg frq)"/>
        <param name="pcd_type" type="int" value="$(arg pcd_type)"/>
    </node>

</launch>
