<launch>

    <param name="/use_sim_time" value="false"/>

    <!-- Camera-->
    <include file="$(find video_stream_opencv)/launch/live_rtsp_stream.launch" />

    <!-- rviz Begin -->
    <node  name="rviz_multiple_show"  pkg="rviz"  type="rviz"  args="-d $(find radar_show)/launch/gpal_4d_radar_show_multiple.rviz" output="screen">
    </node>
    <!-- rviz End -->

    <!-- car model -->
    <include file="$(find car_model)/show_car_model.launch" />

    <!-- TF -->
    <include file="$(find radar_show)/launch/gpal_4d_radar_show_tf.launch" />

    <!-- Radar 0 -->
    <include file="$(find radar_show)/launch/gpal_4d_radar_multiple_0.launch" />
    <!-- Radar 1 -->
    <include file="$(find radar_show)/launch/gpal_4d_radar_multiple_1.launch" />
    <!-- Radar 2 -->
    <include file="$(find radar_show)/launch/gpal_4d_radar_multiple_2.launch" />
    <!-- Radar 3 -->
    <include file="$(find radar_show)/launch/gpal_4d_radar_multiple_3.launch" />
    <!-- Radar 4 -->
    <include file="$(find radar_show)/launch/gpal_4d_radar_multiple_4.launch" />
    <!-- Radar 5 -->
    <include file="$(find radar_show)/launch/gpal_4d_radar_multiple_5.launch" />
    <!-- Radar 6 -->
    <!-- <include file="$(find drvmgr)/launch/gpal_4d_radar_6.launch" /> -->
    <!-- Radar 7 -->
    <!-- <include file="$(find drvmgr)/launch/gpal_4d_radar_7.launch" /> -->

    <!-- Camera-->
    <!-- <include file="$(find usb_cam)/launch/camera.launch" /> -->

    <!-- <node pkg="rslidar_sdk" name="rslidar_sdk_node" type="rslidar_sdk_node" output="screen"></node> -->

    <!-- <node pkg="imu_serial_node" type="imu_serial_node" name="mpu6050_node" required="true">
    <param name="port" value="/dev/ttyUSB0"/>
    <param name="imu_frame_id" value="imu_base"/>
    <param name="RTK_frame_id" value="RTK_base"/>
    </node> -->    
</launch>
