<launch>

    <param name="/use_sim_time" value="true"/>

    <!-- Camera-->
    <!-- <include file="$(find usb_cam)/launch/camera.launch" /> -->

    <!-- rviz Begin -->
    <node  name="rviz"  pkg="rviz"  type="rviz"  args="-d $(find radar_show)/launch/gpal_4d_radar_show_multiple.rviz" output="screen">
    </node>
    <!-- rviz End -->

    <node pkg="car_model" type="show_car_model.py" name="show_car_model" output="screen"></node>

    <!-- TF -->
    <include file="$(find radar_show)/launch/gpal_4d_radar_show_tf.launch" />

    <!-- Radar 0 -->
    <!-- <include file="$(find radar_show)/launch/gpal_4d_radar_multiple_0.launch" /> -->
    <!-- Radar 1 -->
    <!-- <include file="$(find radar_show)/launch/gpal_4d_radar_multiple_1.launch" /> -->
    <!-- Radar 2 -->
    <!-- <include file="$(find radar_show)/launch/gpal_4d_radar_multiple_2.launch" /> -->
    <!-- Radar 3 -->
    <!-- <include file="$(find radar_show)/launch/gpal_4d_radar_multiple_3.launch" /> -->
    <!-- Radar 4 -->
    <!-- <include file="$(find radar_show)/launch/gpal_4d_radar_multiple_4.launch" /> -->
    <!-- Radar 5 -->
    <!-- <include file="$(find radar_show)/launch/gpal_4d_radar_multiple_5.launch" /> -->
    <!-- Radar 6 -->
    <!-- <include file="$(find drvmgr)/launch/gpal_4d_radar_6.launch" /> -->
    <!-- Radar 7 -->
    <!-- <include file="$(find drvmgr)/launch/gpal_4d_radar_7.launch" /> -->

    <!-- Camera-->
    <!-- <include file="$(find usb_cam)/launch/camera.launch" /> -->


    
</launch>
